
<div style="height:20px">

</div>
<p class="beautifulFont" style="text-align:center; color: gray; text-anchor:middle">
    <br />
    Nobody is following you...<br />
    <img src="~/Images/sad-face.jpg" style="width:5%; height:5%" />
</p>
