<div style="height:20px">

</div>
<p class="beautifulFont" style="text-align:center; color: gray; text-anchor:middle">
    <br />
    Post some photos or comments and you'll see them here!
    <br />
    <img src="~/Images/happy-face.jpg" style="width:8%; height:8%" />
</p>
