@{
    ViewBag.Title = "Post";
}

<div  style="background-color:red">
    <div class="input-group">
        <input type="text" class="form-control" style="width:160px;float:right">
        <span class="input-group-btn">
        <button class="btn btn-primary" style="margin-top:5px;margin-bottom:5px">Post</button>
        <button class ="btn btn-danger" style="margin-top:5px;margin-bottom:5px">Share</button>
        </span>
    </div><!-- /input-group -->
</div>